Package: com.joshuaseltzer.carplayhidelabels
Name: CarPlayHideLabels
Depends: mobilesubstrate, firmware (>=7.0), firmware (<<16.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Tweak to hide the icon labels from within CarPlay. Supports iOS 7 - iOS 15.
Maintainer: Joshua Seltzer
Author: Joshua Seltzer
Section: Tweaks
